.App {
  text-align: center;
}

form {
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
  background-color: cadetblue;
}

thead{
  height:2em;
}

.song-header {
  padding: 1em;
  background-color: rgb(130, 192, 194);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
}

button {
  background-color: rgb(52, 86, 87);
  padding: 0.5em;
  color: white;
  border-radius: 0.5em;
}

.song-input{
  width: 20%;
}

tbody{
  background-color: rgb(189, 234, 235);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
}

tbody tr:nth-child(2n +1) {
  background-color: white;
}

.filter-picker{
  background-color: rgb(130, 192, 194);
  border-color: rgb(130, 192, 194);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sortHeader{
  font-size: small;
  font-weight: 500;
}

.sortDirection {
  padding-left: 0.5em;
  font-size: 0.65em;
  font-weight: 200;
  color: rgb(92, 92, 92);
}

.song-row__item {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  font-size: small;
}